<div class="container mt-4">
    <h2>Book Details</h2>
  
    <div *ngIf="book">
      <ul class="list-group">
        <li class="list-group-item"><strong>ID:</strong> {{ book.id }}</li>
        <li class="list-group-item"><strong>Title:</strong> {{ book.title }}</li>
        <li class="list-group-item"><strong>Author:</strong> {{ book.authorName }}</li>
        <li class="list-group-item"><strong>Price:</strong> ${{ book.price }}</li>
        <li class="list-group-item"><strong>Quantity:</strong> {{ book.quantity }}</li>
      </ul>
      <button class="btn btn-secondary mt-3" (click)="back()">Back to List</button>
    </div>
  </div>
  